* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(139, 69, 19, 0.884);
}

main, .banner {
    width: 100%;
    max-width: 900px;
}

main {
    background: #f2f2f2;
    margin: 40px auto;
    border-radius: 12px;
}

.banner {
    background: tan;
    height: 400px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;
}

.banner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banner-img {
    background-image: url('assets/images/image2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 350px;
    height: 400px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.title {
    font-size: 40px;
    color: saddlebrown;
    padding: 10px 0;
    margin-bottom: 20px;
}

.title::after {
    content: "";
    width: 200px;
    height: 2px;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    background: saddlebrown;
    border: 1px solid saddlebrown;
}

.banner-text .sub-title {
    font-size: 16px;
    color: antiquewhite;
}

form {
    padding: 20px;
}

fieldset {
    border: none;
    padding: 10px;
    margin: 15px;
}

legend {
    display: block;
    font-weight: 500;
    font-size: 18px;
}

label span {
    color: maroon;
}

.input-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.input-grid input {
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 2px solid saddlebrown;
    border-radius: 8px;
}

.input-grid label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: saddlebrown;
    margin-left: 6px;
}

.birth-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.birth-grid select{
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 2px solid saddlebrown;
    border-radius: 8px;
}

.birth-grid label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: saddlebrown;
    margin-left: 6px;
}

.inst-box select{
    display: block;
    width: 50%;
    padding: 10px;
    outline: none;
    border: 2px solid saddlebrown;
    border-radius: 8px;
    margin: 10px 0;
}

.class-day {
    display: inline-block;
    width: 50%;
    max-width: 400px;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-right: 15px;
    margin-bottom: 15px;
}

input[type="checkbox"]:checked {
    accent-color: saddlebrown;
}

.date-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.date-grid select{
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 2px solid saddlebrown;
    border-radius: 8px;
}

.date-grid input[type="date"]{
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 2px solid saddlebrown;
    border-radius: 8px;
}

.date-grid input[type="time"]{
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 2px solid saddlebrown;
    border-radius: 8px;
}

.date-grid label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: saddlebrown;
    margin-left: 6px;
}

textarea {
    display: block;
    width: 100%;
    margin: auto;
    border: 2px solid saddlebrown;
    border-radius: 8px;
    outline: none;
    padding: 6px;
    font-size: 16px;
}

input:focus,
select:focus,
textarea:focus {
    border-color: maroon;
    outline: none;
    box-shadow: 0 0 4px rgba(128, 0, 0, 0.4);
}


.btn {
    display: block;
    background: transparent;
    border-radius: 8px;
    border: 2px solid saddlebrown;
    padding: 12px 24px;
    color: saddlebrown;
    margin: 0 auto;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background: saddlebrown;
    color: antiquewhite;
}

.btn:active {
    background: burlywood;
    color: saddlebrown;
}

#msg {
    color: antiquewhite;
    /* display: block; */
    width: 30%;
    text-align: center;
    font-size: 18px;
    padding: 8px;
    margin: 10px auto;
    border-radius: 12px;
    background-color: green;
    display: none;
}

/* Responsiveness */

@media (max-width: 1100px) {
    main {
        margin: 30px 20px;
    }

    .title {
        font-size: 36px;
    }

    .inst-box select {
        width: 60%;
    }
}

@media (max-width: 980px) {
    .banner {
        height: auto;
    }

    .banner-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .banner-img {
        background-image: url('assets/images/image5.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        height: 300px;
    }

    .banner-text {
        align-items: center;
        padding: 20px;
    }

    .title::after {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 850px) {
    .input-grid,
    .birth-grid {
        grid-template-columns: 1fr;
    }

    .inst-box select {
        width: 100%;
    }

    .class-day {
        width: 100%;
    }
}

@media (max-width: 768px) {
    form {
        padding: 10px;
    }

    fieldset {
        margin: 10px;
        padding: 5px;
    }

    .title {
        font-size: 32px;
    }
}

@media (max-width: 600px) {
    body {
        background: #e0f2f1;
    }

    main {
        border-radius: 0;
        margin: 0;
    }

    .banner {
        border-radius: 0;
    }

    .title {
        font-size: 28px;
    }

    .heading {
        font-size: 16px;
    }

    input,
    select,
    textarea {
        font-size: 15px;
    }

    .btn {
        width: 60%;
    }
}

@media (max-width: 450px) {
    .title {
        font-size: 24px;
    }

    .banner-text .sub-title {
        font-size: 14px;
        text-align: center;
    }

    input[type="checkbox"] {
        margin-right: 10px;
    }

    textarea {
        font-size: 14px;
    }
}
